$maxMobile: 767px;
$minSmall: 768px;

$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$redcolor: #e41b17;
$sectioncolor: #eee;

$paddingtop: 50px;
$paddingbottom: 70px;

$float-l: left;
$float-r: right;

$text-r: right;
$text-l: left;